@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy/Gilroy-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy/Gilroy-ExtraBold.otf");
  font-weight: 900;
  font-style: normal;
}
