@import "./fonts.scss";
@import "./variables.scss";
@import "./mixins.scss";

// null styles
* {
  margin: 0;
  border: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
button {
  cursor: pointer;
  outline: none;
}
input,
button,
textarea {
  font-family: inherit;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
ul li {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background: $bg-white;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 300;
}