/*#region texts*/
$text-white: #ffffff;
$text-dark: #191919;
$text-black: #000000;
/*#endregion texts*/

/*#region backgrounds*/
$bg-white: #ffffff;
/*#endregion backgrounds*/

/*#region gradients*/
$gr-main: linear-gradient(to right, #F9D423, #FF4E50);
/*#endregion gradients*/

/*#region buttons*/

/*#endregion buttons*/

/*#region shadows*/

/*#endregion shadows*/
