/*#region texts*/
$text-white: #ffffff;
$text-white-transp: rgb(255, 255, 255, 0.6);
$text-dark: #191919;
$text-black: #000000;
/*#endregion texts*/

/*#region backgrounds*/
$bg-white: #ffffff;
$bg-white-transp: rgb(255, 255, 255, 0.06);
/*#endregion backgrounds*/

/*#region gradients*/
$gr-main: linear-gradient(to right, #ff4e50, #f9d423);
/*#endregion gradients*/

/*#region buttons*/

/*#endregion buttons*/

/*#region shadows*/

/*#endregion shadows*/
