@import "../../../variables.scss";
@import "../../../mixins.scss";

.catalog__card {
  position: relative;
  z-index: 2;
  margin: 20px 0;
  width: 100%;
  min-width: 220px;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  box-shadow: $sh-card;
  background: $bg-white;
  border-radius: 6px;
  transition: all 0.3s;

  &:hover {
    box-shadow: $sh-card-deep;
  }

  &-head {
    width: 100%;
  }
  &-img-box {
    width: 100%;
    height: 150px;
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  &-body {
    padding: 20px 15px 15px 15px;
    width: 100%;
  }
  &-text {
  }
  &-title {
    font-size: 18px;
    color: $text-dark;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
  }
  &-box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.catalog__price-currency {
}
.catalog__btn-box {
  margin-top: 15px;
  width: 100%;
}
.catalog__btn-cart {
  @include mainBtn;
  width: 100%;
  max-width: none;
}
.catalog__price {
  display: flex;
  align-items: baseline;
  color: $text-dark;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  &-values {
    margin-right: 5px;
    font-weight: 900;
  }
  &-number {
    font-size: 20px;

    &_strike {
      margin-right: 5px;
      font-size: 26px;
      text-decoration: line-through;
      opacity: 0.8;
    }
  }
  &-currency {
    font-size: 16px;
  }
}

/*------------------------------ Media ------------------------------*/
@media (max-width: 1160px) {
  .catalog__card {
    margin: 20px;
  }
}

@media (max-width: 576px) {
  .catalog__card {
    margin: 10px;
  }
}
