@import "../../../variables.scss";

.cart {
  &__order {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 100%;
    min-width: 510px;
    display: flex;
    border-bottom: 1px solid $bg-grey;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-head {
      margin-right: 20px;
      display: flex;
      align-items: center;
    }
    &-img {
      width: 105px;
      height: 70px;
      object-fit: contain;
    }
    &-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-title {
      font-size: 16px;
      color: $text-blue;
      font-weight: 300;
    }
    &-body-box {
      margin-top: 20px;
      display: flex;
      align-items: flex-end;
    }
    &-price {
      margin-right: 10px;
      display: flex;
      align-items: flex-end;
      color: $text-dark;
      &-values {
        margin-right: 5px;
        display: flex;
        align-items: flex-end;
        font-weight: 900;
      }
      &-number {
        font-size: 20px;

        &_strike {
          margin-right: 5px;
          font-size: 26px;
          text-decoration: line-through;
          opacity: 0.8;
        }
      }
      &-currency {
        font-size: 16px;
      }
    }
    &-param {
      margin: 0 10px;
      display: flex;
      flex-direction: column;
    }
    &-lbl {
      margin-bottom: 5px;
      font-size: 12px;
      color: $text-dark;
    }
    &-select {
      // appearance: none;
    }
    &-cout {
      appearance: none;
    }
    &-option {
      padding: 3px 6px;
      border-radius: 10px;
      border: none;
      box-shadow: $sh-cart-form;
      color: $text-form-grey;
      font-size: 12px;
    }
    &-input {
      padding: 3px 6px;
      width: 80px;
      border-radius: 6px;
      border: 1px solid $bg-input-grey;
      color: $text-form-grey;
      font-size: 12px;

      &:focus {
        border-color: $bg-yel;
      }
    }
    &-delete {
      position: absolute;
      top: 0px;
      right: 0px;
    }
    &-delete-btn {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      font-size: 12px;
      color: $text-grey;
      background: $bg-white;
      border: 1px solid $bg-grey;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        color: $text-white;
        background: $bg-red-del;
        opacity: 0.95;
        border: 1px solid transparent;
      }
    }
  }
}
