<!-- Slider: End -->
<div class="slider">
    <div class="slider__container">
        <div class="slider__slids">
            <div class="slider__slide">
                <div class="slider__bg">
                    <div class="slider__bg-dark-box"></div>
                    <img [src]="sliderImgsSlider + '/slider/slide_1.png' " alt="" class="slider__bg-img">
                </div>
                <div class="slider__content">
                    <h2 class="slider__text">
                        Скидки на все модели
                    </h2>
                    <h2 class="slider__text">
                        до
                        <span class="slider__text_eff">
                            50%
                        </span>
                    </h2>
                </div>
            </div>
            <div class="slider__slide">
                <div class="slider__bg">
                    <div class="slider__bg-dark-box"></div>
                    <img [src]="sliderImgsSlider + '/slider/slide_2.png' " alt="" class="slider__bg-img">
                </div>
                <div class="slider__content">
                    <h2 class="slider__text">
                        Твоя обувь
                        <span class="slider__text_eff">
                            здесь!
                        </span>
                    </h2>
                </div>
            </div>
            <div class="slider__slide">
                <div class="slider__bg">
                    <div class="slider__bg-dark-box"></div>
                    <img [src]="sliderImgsSlider + '/slider/slide_3.png' " alt="" class="slider__bg-img">
                </div>
                <div class="slider__content">
                    <h2 class="slider__text">
                        Шагни
                        <span class="slider__text_eff">
                            по-новому!
                        </span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="slider__nav-box">
            <div class="slider__nav-btn slider__nav-btn_left">
                <i class="fas fa-chevron-left"></i>
            </div>
            <div class="slider__nav-btn slider__nav-btn_right">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="slider__nav-dots-box">
            <div class="slider__nav-dot-el">
            </div>
            <div class="slider__nav-dot-el">
            </div>
            <div class="slider__nav-dot-el">
            </div>
        </div>
    </div>
</div>
<!-- Slider: End -->