<div class="slider">
    <div class="slider__container">
        <div class="slider__slide">
            <div class="slider__bg">
                <img src="../../../assets/imgs/slider/slide_1.png" alt="" class="slider__bg-img">
            </div>
            <div class="slider__content">
                <h2 class="slider__text">
                    <span class="slider__text_d-block">
                        Скидки на все модели
                    </span>
                        
                    <span>
                        до
                        <span class="slider__text_eff">
                            50%
                        </span>
                    </span>
                </h2>
            </div>
        </div>
        <div class="slider__nav-box">
            <div class="slider__nav-btn slider__nav-btn_left">
            </div>
            <div class="slider__nav-btn slider__nav-btn_left">
            </div>
        </div>
    </div>
</div>