@import "../../../variables.scss";

.slider {
  &__container {
    position: relative;
    max-width: 1440px;
    height: 350px;
  }
  &__slide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    &-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  &__text {
    font-size: 44px;
    font-weight: 300;
    color: $text-white;
  }
  &__text_eff {
    background: $gr-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  &__nav-btn {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-white-transp;
    font-size: 18px;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      background: $bg-white-transp;
    }

    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
}
