@import "../../../variables.scss";
@import "../../../custom-material-styles.scss";

.order-snack-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__head {
    display: flex;
    align-items: center;
  }
  &__img-box {
  }
  &__img {
    height: 30px;
    object-fit: contain;
  }
  &__title {
    margin-left: 5px;
    color: $text-dark;
    font-size: 16px;
  }
  &__price {
    margin-left: 5px;
  }
  &__price-number {
    font-size: 14px;
    color: $text-dark;
    font-weight: bold;
  }
  &__body {
    margin-left: 25px;
    display: flex;
  }
  &__inf {
  }
  &__text {
    font-size: 16px;
    &_green {
      color: $text-green;
    }
  }
  &__btn {
    margin-left: 10px;
    display: flex;
  }
  &__link {
    margin-left: 10px;
    position: relative;
    display: block;
    color: $text-grey-dark;
    font-size: 16px;
  }
}
