@import "../../../variables.scss";

.admin {
  &__container {
    margin: 80px auto 0 auto;
    width: 100%;
    max-width: 1090px;
    display: flex;
    flex-direction: column;
  }
  &__header {
    width: 100%;
  }
  &__page-title {
    font-size: 28px;
    color: $text-dark;
    display: flex;
    justify-content: flex-start;
  }
  &__body {
  }
  &__catalog {
    width: 100%;
    &-title {
      margin-top: 20px;
      font-size: 24px;
      color: $text-black;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
    }
    &-loader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 300px;
    }
    &-cards {
      margin: 20px auto 150px auto;
      max-width: 1090px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
}
