@media (min-width: 1440px) {
  .choice__content {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1160px) {
  .choice__brands {
    max-width: 560px;
  }
  .choice__brand-box {
    margin: 10px;
  }
  .inst__container {
    flex-direction: column;
  }
  .inst__half {
    width: 100%;

    &_inst-post {
      justify-content: center;
    }
  }
  .inst__inf {
    margin: 40px auto 0 auto;
    align-items: center;
    text-align: center;
  }
  .contact__box {
    max-width: 560px;
    flex-direction: column;

    &-half {
      width: 100%;
    }
    &-text {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .footer__info-box {
    flex-direction: column;
    align-items: center;
  }
  .footer__contact-box {
    flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__contact {
    margin: 10px 0;
  }
  .footer__nav-list {
    flex-direction: column;
    align-items: center;
  }
  .footer__link {
    margin: 10px 0;
  }
}

@media (max-width: 990px) {
  .choice__back-img {
    display: none;
  }
  .catalog__cards-cont {
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .choice__brands {
    margin-bottom: 100px;
  }
  .choice__brand-box {
    height: 200px;
  }
  .choice__brand-title {
    font-size: 28px;
  }
  .contact__container {
    margin: 0 30px;
  }
  .contact__illstr {
    display: none;
  }
}

@media (max-width: 475px) {
  .choice__brand-box {
    margin: 5px;
    height: 160px;
    width: 46%;
  }
  .choice__brand-title {
    font-size: 24px;
  }
  .catalog__back-illstr {
    display: none;
  }
}

@media (max-width: 319px) {
  .choice__brand-box {
    height: 200px;
    width: 100%;
  }
}
