<section class="view">
    <div class="view__content">
        <div class="view__slider">
            <app-slider></app-slider>
        </div>
        <div class="view__scroll-box">
            <div class="view__scroll">
                <img src="../../../assets/imgs/common/loader.png" alt="" class="view__scroll-img">
            </div>
        </div>
    </div>
</section>
<section class="choice">
    <div class="choice__content">
        <div class="choice__title-box">
            <h3 class="choice__title">
                Выбери свою обувь по вкусу!
            </h3>
            <p class="choice__subtitle">
                Минимализм, уникальность качество
            </p>
            <p class="choice__subtitle">
                и доступная цена
            </p>
        </div>
        <div class="choice__back-imgs">
            <img src="../../../assets/imgs/common/sneaker_1.png" alt="" class="choice__back-img choice__back-img_left">
            <img src="../../../assets/imgs/common/sneaker_2.png" alt="" class="choice__back-img choice__back-img_right">
        </div>
        <div class="choice__brands">
            <div class="choice__brand-box">
                <div class="choice__brand-img-box">
                    <div class="choice__brand-img_eff_dark"></div>
                    <div class="choice__brand-img" style="
                        background: url(../../../assets/imgs/common/choice-brand_1.png);
                        background-position: center;
                        background-size: cover;
                        ">
                    </div>
                </div>
                <h4 class="choice__brand-title">
                    Nike
                </h4>
            </div>
            <div class="choice__brand-box">
                <div class="choice__brand-img-box">
                    <div class="choice__brand-img_eff_dark"></div>
                    <div class="choice__brand-img" style="
                        background: url(../../../assets/imgs/common/choice-brand_2.png);
                        background-position: center;
                        background-size: cover;
                        ">
                    </div>
                </div>
                <h4 class="choice__brand-title">
                    Puma
                </h4>
            </div>
            <div class="choice__brand-box">
                <div class="choice__brand-img-box">
                    <div class="choice__brand-img_eff_dark"></div>
                    <div class="choice__brand-img" style="
                        background: url(../../../assets/imgs/common/choice-brand_3.png);
                        background-position: center;
                        background-size: cover;
                        ">
                    </div>
                </div>
                <h4 class="choice__brand-title">
                    New
                </h4>
                <h4 class="choice__brand-title">
                    Balance
                </h4>
            </div>
            <div class="choice__brand-box">
                <div class="choice__brand-img-box">
                    <div class="choice__brand-img_eff_dark"></div>
                    <div class="choice__brand-img" style="
                        background: url(../../../assets/imgs/common/choice-brand_4.png);
                        background-position: center;
                        background-size: cover;
                        ">
                    </div>
                </div>
                <h4 class="choice__brand-title">
                    Adidas
                </h4>
            </div>
        </div>
    </div>
</section>
<section class="catalog">
    <div class="catalog__container">
        <div class="catalog__title-box">
            <h5 class="catalog__title">
                Каталог
            </h5>
        </div>
        <div class="catalog__cards">
            <!-- Catalog-cards: Start -->
            <div class="catalog__card">
                <div class="catalog__card-head">
                    <div class="catalog__card-img-box">
                        <img src="../../../assets/imgs/cards/card_1.png" alt="" class="catalog__card-img">
                    </div>
                </div>
                <div class="catalog__card-body">
                    <div class="catalog__card-text">
                        <h6 class="catalog__card-title">
                            Кроссовки Nike
                        </h6>
                        <h6 class="catalog__card-title">
                            TEAM HUSTLE 9
                        </h6>
                    </div>
                    <div class="catalog__card-box">
                        <div class="catalog__price">
                            <p class="catalog__price-number">
                                40
                            </p>
                            <p class="catalog__price-currency">
                                BR
                            </p>
                        </div>
                        <div class="catalog__btn-box">
                            <div class="catalog__btn-cart">
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__card">
                <div class="catalog__card-head">
                    <div class="catalog__card-img-box">
                        <img src="../../../assets/imgs/cards/card_1.png" alt="" class="catalog__card-img">
                    </div>
                </div>
                <div class="catalog__card-body">
                    <div class="catalog__card-text">
                        <h6 class="catalog__card-title">
                            Кроссовки Nike
                        </h6>
                        <h6 class="catalog__card-title">
                            TEAM HUSTLE 9
                        </h6>
                    </div>
                    <div class="catalog__card-box">
                        <div class="catalog__price">
                            <p class="catalog__price-number">
                                40
                            </p>
                            <p class="catalog__price-currency">
                                BR
                            </p>
                        </div>
                        <div class="catalog__btn-box">
                            <div class="catalog__btn-cart">
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__card">
                <div class="catalog__card-head">
                    <div class="catalog__card-img-box">
                        <img src="../../../assets/imgs/cards/card_1.png" alt="" class="catalog__card-img">
                    </div>
                </div>
                <div class="catalog__card-body">
                    <div class="catalog__card-text">
                        <h6 class="catalog__card-title">
                            Кроссовки Nike
                        </h6>
                        <h6 class="catalog__card-title">
                            TEAM HUSTLE 9
                        </h6>
                    </div>
                    <div class="catalog__card-box">
                        <div class="catalog__price">
                            <p class="catalog__price-number">
                                40
                            </p>
                            <p class="catalog__price-currency">
                                BR
                            </p>
                        </div>
                        <div class="catalog__btn-box">
                            <div class="catalog__btn-cart">
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__card">
                <div class="catalog__card-head">
                    <div class="catalog__card-img-box">
                        <img src="../../../assets/imgs/cards/card_1.png" alt="" class="catalog__card-img">
                    </div>
                </div>
                <div class="catalog__card-body">
                    <div class="catalog__card-text">
                        <h6 class="catalog__card-title">
                            Кроссовки Nike
                        </h6>
                        <h6 class="catalog__card-title">
                            TEAM HUSTLE 9
                        </h6>
                    </div>
                    <div class="catalog__card-box">
                        <div class="catalog__price">
                            <p class="catalog__price-number">
                                40
                            </p>
                            <p class="catalog__price-currency">
                                BR
                            </p>
                        </div>
                        <div class="catalog__btn-box">
                            <div class="catalog__btn-cart">
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__card">
                <div class="catalog__card-head">
                    <div class="catalog__card-img-box">
                        <img src="../../../assets/imgs/cards/card_1.png" alt="" class="catalog__card-img">
                    </div>
                </div>
                <div class="catalog__card-body">
                    <div class="catalog__card-text">
                        <h6 class="catalog__card-title">
                            Кроссовки Nike
                        </h6>
                        <h6 class="catalog__card-title">
                            TEAM HUSTLE 9
                        </h6>
                    </div>
                    <div class="catalog__card-box">
                        <div class="catalog__price">
                            <p class="catalog__price-number">
                                40
                            </p>
                            <p class="catalog__price-currency">
                                BR
                            </p>
                        </div>
                        <div class="catalog__btn-box">
                            <div class="catalog__btn-cart">
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__card">
                <div class="catalog__card-head">
                    <div class="catalog__card-img-box">
                        <img src="../../../assets/imgs/cards/card_1.png" alt="" class="catalog__card-img">
                    </div>
                </div>
                <div class="catalog__card-body">
                    <div class="catalog__card-text">
                        <h6 class="catalog__card-title">
                            Кроссовки Nike
                        </h6>
                        <h6 class="catalog__card-title">
                            TEAM HUSTLE 9
                        </h6>
                    </div>
                    <div class="catalog__card-box">
                        <div class="catalog__price">
                            <p class="catalog__price-number">
                                40
                            </p>
                            <p class="catalog__price-currency">
                                BR
                            </p>
                        </div>
                        <div class="catalog__btn-box">
                            <div class="catalog__btn-cart">
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__card">
                <div class="catalog__card-head">
                    <div class="catalog__card-img-box">
                        <img src="../../../assets/imgs/cards/card_1.png" alt="" class="catalog__card-img">
                    </div>
                </div>
                <div class="catalog__card-body">
                    <div class="catalog__card-text">
                        <h6 class="catalog__card-title">
                            Кроссовки Nike
                        </h6>
                        <h6 class="catalog__card-title">
                            TEAM HUSTLE 9
                        </h6>
                    </div>
                    <div class="catalog__card-box">
                        <div class="catalog__price">
                            <p class="catalog__price-number">
                                40
                            </p>
                            <p class="catalog__price-currency">
                                BR
                            </p>
                        </div>
                        <div class="catalog__btn-box">
                            <div class="catalog__btn-cart">
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__card">
                <div class="catalog__card-head">
                    <div class="catalog__card-img-box">
                        <img src="../../../assets/imgs/cards/card_1.png" alt="" class="catalog__card-img">
                    </div>
                </div>
                <div class="catalog__card-body">
                    <div class="catalog__card-text">
                        <h6 class="catalog__card-title">
                            Кроссовки Nike
                        </h6>
                        <h6 class="catalog__card-title">
                            TEAM HUSTLE 9
                        </h6>
                    </div>
                    <div class="catalog__card-box">
                        <div class="catalog__price">
                            <p class="catalog__price-number">
                                40
                            </p>
                            <p class="catalog__price-currency">
                                BR
                            </p>
                        </div>
                        <div class="catalog__btn-box">
                            <div class="catalog__btn-cart">
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Catalog-cards: End -->
        </div>
        <div class="catalog__back-illstr">
            <img src="../../../assets/imgs/common/sneaker_3.png" alt="" class="catalog__img-illstr catalog__img-illstr_right-center">
        </div>
    </div>
</section>