@import "../../../variables.scss";

.view {
  &__content {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 72px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__slider {
    width: 100%;
    height: 450px;
  }
  &__scroll-box {
    margin-top: 75px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }
}

.choice {
  &__content {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__title-box {
    text-align: center;
  }
  &__title {
    color: $text-black;
    font-size: 36px;
    font-weight: 900;
  }
  &__subtitle {
    color: $text-dark;
    font-size: 18px;
    font-weight: 300;

    &:first-of-type {
      margin-top: 15px;
    }
  }
  &__back-imgs {
  }
  &__back-img {
    position: absolute;
    top: -120px;
    max-height: 270px;
    opacity: 0.8;
    pointer-events: none;
    &_left {
      left: -140px;
    }
    &_right {
      right: -140px;
    }
  }
  &__brands {
    margin-top: 75px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__brand {
    &-box {
      margin: 0 15px;
      position: relative;
      height: 240px;
      width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &-img-box {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    &-img_eff_dark {
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $bg-black-transp;
    }
    &-img {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &-title {
      position: relative;
      z-index: 4;
      color: $text-white;
      font-weight: 300;
      font-size: 36px;
    }
  }
}

.catalog {
  &__container {
    position: relative;
  }
  &__title-box {
  }
  &__title {
    position: relative;
    z-index: 2;
    font-size: 46px;
    color: $text-black;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
  }
  &__cards {
    margin: 20px auto 150px auto;
    max-width: 1390px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__card {
    position: relative;
    z-index: 2;
    padding: 20px 10px 25px 10px;
    margin: 30px;
    width: 220px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: $sh-card;
    background: $bg-white;
    border-radius: 6px;
    transition: all 0.3s;

    &:hover {
      box-shadow: $sh-yel;
    }

    &-head {
    }
    &-img-box {
      width: 100%;
      height: 150px;
    }
    &-img {
      width: 100%;
      height: 100%;
    }
    &-body {
      width: 100%;
    }
    &-text {
      margin-top: 20px;
    }
    &-title {
      font-size: 17.5px;
      color: $text-dark;
      font-weight: 900;
      line-height: 1.2;
      text-align: center;
    }
    &-box {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__price {
    margin-right: 30px;
    display: flex;
    font-size: 18px;
    color: $text-dark;
    font-weight: 900;
    line-height: 1.2;
  }
  &__price-number {
    margin-right: 5px;
  }
  &__price-currency {
  }
  &__btn-box {
  }
  &__btn-cart {
    padding: 8px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    background: $gr-main;
    border-radius: 30px;
    font-size: 14px;
    color: $text-white;
    font-weight: 900;
    line-height: 1.2;

    &:hover {
      cursor: pointer;
    }
  }
  &__back-illstr {
  }
  &__img-illstr {
    position: absolute;
    max-height: 460px;
    z-index: 1;
    pointer-events: none;

    &_right-center {
      top: 20%;
      right: -240px;
      opacity: 0.8;
      transform: rotate(30deg);
    }
  }
}

.inst {
  &__container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }
  &__half {
    width: 50%;

    &_inst-post {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__inf {
    margin-left: 50px;
    max-width: 600px;
  }
  &__title {
    font-size: 46px;
    color: $text-black;
    font-weight: 900;
  }
  &__text {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 26px;
    color: $text-dark;
    line-height: 1.538;
  }
  &__btn-link {
    padding: 10px 30px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 30px;
    background: $gr-main;
    font-size: 26px;
    color: $text-white;
    font-weight: 900;
    line-height: 1.538;
    transition: all 0.3s;

    &:hover {
      box-shadow: $sh-yel;
    }
  }
}
.contact {
  &__container {
    position: relative;
    max-width: 1440px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__illstr {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-img {
      max-height: 360px;
      opacity: 0.8;
      pointer-events: none;
    }
  }
  &__text {
    position: relative;
    z-index: 2;
  }
  &__title {
    text-align: center;
    font-size: 43px;
    color: $text-black;
    font-weight: 900;
  }
  &__box {
    position: relative;
    z-index: 2;
    margin-top: 40px;
    margin-bottom: 90px;
    padding: 30px 0;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    &_bg-gr-main {
      background: $gr-main;
    }
    &-half {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-text {
    }
    &-parg {
      font-size: 30px;
      color: $text-white;
      line-height: 1.2;
    }
  }

  &__btn-req {
    padding: 15px 10px;
    width: 100%;
    max-width: 330px;
    background-color: $bg-white;
    box-shadow: $sh-btn-req;
    text-align: center;
    border-radius: 30px;
    font-size: 26px;
    color: $text-black;
    font-weight: 900;
    line-height: 1.2;

    &:hover {
      cursor: pointer;
    }
  }
}
.footer {
  position: relative;
  z-index: 2;
  &__container {
    width: 100%;
    min-height: 350px;
    background: $bg-black;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__info-box {
    margin-top: 60px;
    margin: 0 auto;
    width: 100%;
    max-width: 680px;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    &-img {
    }
  }
  &__contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__contact {
    margin-top: 30px;
    display: flex;
    align-items: center;

    &:first-of-type {
      margin-top: 0;
    }

    &-ico {
      margin-right: 10px;
      color: $text-white;
      font-size: 12px;
    }
    &-inf {
      color: $text-white;
      font-size: 20px;
      line-height: 1.2;
    }
  }
  &__nav {
    margin: 80px auto 0 auto;
    width: 100%;
    max-width: 680px;
  }
  &__nav-list {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    font-size: 18px;
    color: $text-white;
    line-height: 1.2;
    font-weight: 300;

    &-ico {
      margin-right: 5px;
      color: $text-white;
      font-size: 12px;
    }
  }
}
@media (min-width: 1440px) {
  .view__content {
    margin-left: auto;
    margin-right: auto;
  }
  .choice__content {
    margin-left: auto;
    margin-right: auto;
  }
  .contact__container {
    margin-left: auto;
    margin-right: auto;
  }
}
