<div class="card-form">
    <div class="card-form__wrapper">
        <div class="card-form__bg" (click)="this.cardFormService.closeForm()">
        </div>
        <div class="card-form__add">
            <form class="card-form__add-form" [formGroup]="catalogAddElementForm"
                (ngSubmit)="!cardFormService.isEditForm ? cardFormService.addToCataloge() : cardFormService.updateElement(this.updateElementId)">
                <div class="card-form__close-box">
                    <div class="card-form__close-btn" (click)="this.cardFormService.closeForm()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <h6 class="card-form__title">
                    {{ this.cardFormService.isEditForm ? 'Редактировать элемент' : 'Создать новый'}}
                </h6>
                <div class="card-form__field">
                    <input type="text" placeholder="Title" class="card-form__input"
                        formControlName="catalogAddElementTitle">
                </div>
                <div class="card-form__field">
                    <label for="#filePicker" class="card-form__label">
                        Img
                    </label>
                    <button type="button" class="card-form__file-btn" [disabled]="this.userPermission !== this.adminPermission" (click)="filePicker.click()">
                        Загрузить
                    </button>
                    <input type="file" #filePicker class="card-form__input card-form__input-file"
                        (change)="pickImg($event)">
                    <p class="card-form__img-name card-form__img-name_error"
                        *ngIf="catalogAddElementForm.get('catalogAddElementImg').invalid && catalogAddElementForm.touched">
                        Не верный формат картинки
                    </p>
                </div>
                <div class="card-form__box-fields">
                    <div class="card-form__field card-form__field-img"
                        *ngIf="cardFormService.isEditForm && this.cardFormService.beforeImg">
                        <p class="card-form__img-name">
                            Current Img
                        </p>
                        <img [src]="this.cardFormService.beforeImg"
                            [alt]="catalogAddElementForm.value.catalogAddElementTitle" class="card-form__img-preview">
                    </div>
                    <div class="card-form__field card-form__field-img"
                        *ngIf="cardFormService.imgPreview && catalogAddElementForm.get('catalogAddElementImg').valid">
                        <p class="card-form__img-name">
                            New Img
                        </p>
                        <img [src]="cardFormService.imgPreview"
                            [alt]="catalogAddElementForm.value.catalogAddElementTitle" class="card-form__img-preview">
                        <p class="card-form__img-name">
                            {{ 'img name: ' + this.catalogAddElementForm.get('catalogAddElementImg').value.name }}
                        </p>
                    </div>
                </div>

                <div class="card-form__field">
                    <input type="text" placeholder="Before Price" class="card-form__input"
                        formControlName="catalogAddElementBeforePrice">
                </div>
                <div class="card-form__field">
                    <input type="text" placeholder="Current Price" class="card-form__input"
                        formControlName="catalogAddElementCurrentPrice">
                </div>
                <div class="card-form__field">
                    <input type="text" placeholder="Price Currency" class="card-form__input"
                        formControlName="catalogAddElementPriceCurrency">
                </div>
                <div class="card-form__field">
                    <input type="text" placeholder="Sizes" class="card-form__input"
                        formControlName="catalogAddElementSizes">
                </div>
                <div class="card-form__field">
                    <input type="number" placeholder="Count 1" min="1" class="card-form__input"
                        formControlName="catalogAddElementCount">
                </div>
                <div class="card-form__field_pos-c">
                    <button type="submit" class="card-form__add-btn" [disabled]="this.userPermission !== this.adminPermission">
                        {{ this.cardFormService.isEditForm ? 'Сохранить' : 'Создать'}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>