<div class="card-form">
    <div class="card-form__wrapper">
        <div class="card-form__bg" (click)="this.cardFormService.closeForm()">
        </div>
        <div class="card-form__add">
            <form class="card-form__add-form" [formGroup]="catalogAddElementForm"
                (ngSubmit)="!cardFormService.isEditForm ? cardFormService.addToCataloge() : cardFormService.updateElement(this.updateElementId)">
                <div class="card-form__close-box">
                    <div class="card-form__close-btn" (click)="this.cardFormService.closeForm()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <h6 class="card-form__title">
                    {{ this.cardFormService.isEditForm ? 'Редактировать элемент' : 'Создать новый'}}
                </h6>

                <div class="card-form__box-fields">
                    <div class="card-form__box-half">
                        <div class="card-form__field">
                            <input type="text" placeholder="Title" id="catalogAddElementTitle" class="card-form__input"
                                formControlName="catalogAddElementTitle">
                            <label for="catalogAddElementTitle" class="card-form__hint card-form__hint_invalid"
                                *ngIf="catalogAddElementForm.controls['catalogAddElementTitle'].touched && catalogAddElementForm.controls['catalogAddElementTitle'].invalid">
                                Please enter valid element title</label>
                        </div>
                        <div class="card-form__field">
                            <input type="number" placeholder="Before Price" id="catalogAddElementBeforePrice"
                                class="card-form__input" formControlName="catalogAddElementBeforePrice">
                            <label for="catalogAddElementBeforePrice" class="card-form__hint card-form__hint_invalid"
                                *ngIf="catalogAddElementForm.controls['catalogAddElementBeforePrice'].touched && catalogAddElementForm.controls['catalogAddElementBeforePrice'].invalid">
                                Please enter valid before sale price</label>
                        </div>
                        <div class="card-form__field">
                            <input type="number" placeholder="Current Price" id="catalogAddElementCurrentPrice"
                                class="card-form__input" formControlName="catalogAddElementCurrentPrice">
                            <label for="catalogAddElementCurrentPrice" class="card-form__hint card-form__hint_invalid"
                                *ngIf="catalogAddElementForm.controls['catalogAddElementCurrentPrice'].touched && catalogAddElementForm.controls['catalogAddElementCurrentPrice'].invalid">
                                Please enter valid current price</label>
                        </div>
                        <div class="card-form__field">
                            <input type="text" placeholder="Price Currency" id="catalogAddElementPriceCurrency"
                                class="card-form__input" formControlName="catalogAddElementPriceCurrency">
                            <label for="catalogAddElementPriceCurrency" class="card-form__hint"
                                *ngIf="!catalogAddElementForm.controls['catalogAddElementPriceCurrency'].touched || !catalogAddElementForm.controls['catalogAddElementPriceCurrency'].invalid">
                                Example: BYN, USD...</label>
                            <label for="catalogAddElementPriceCurrency" class="card-form__hint card-form__hint_invalid"
                                *ngIf="catalogAddElementForm.controls['catalogAddElementPriceCurrency'].touched && catalogAddElementForm.controls['catalogAddElementPriceCurrency'].invalid">
                                Please enter valid price currency</label>
                        </div>
                        <div class="card-form__field">
                            <input type="text" placeholder="Sizes" id="catalogAddElementSizes" class="card-form__input"
                                formControlName="catalogAddElementSizes">
                            <label for="catalogAddElementSizes" class="card-form__hint"
                                *ngIf="!catalogAddElementForm.controls['catalogAddElementSizes'].touched || !catalogAddElementForm.controls['catalogAddElementSizes'].invalid">
                                Example: 41 42 43 44 45</label>
                            <label for="catalogAddElementSizes" class="card-form__hint card-form__hint_invalid"
                                *ngIf="catalogAddElementForm.controls['catalogAddElementSizes'].touched && catalogAddElementForm.controls['catalogAddElementSizes'].invalid">
                                Please enter valid sizes type like in example</label>
                        </div>
                        <div class="card-form__field">
                            <input type="number" placeholder="Count 1" min="1" id="catalogAddElementCount"
                                class="card-form__input" formControlName="catalogAddElementCount">
                            <label for="catalogAddElementCount" class="card-form__hint card-form__hint_invalid"
                                *ngIf="catalogAddElementForm.controls['catalogAddElementCount'].touched && catalogAddElementForm.controls['catalogAddElementCount'].invalid">
                                Please enter valid count number</label>
                        </div>
                    </div>

                    <div class="card-form__box-half">
                        <div class="card-form__field">
                            <label for="filePickerBtn" class="card-form__label">
                                Img
                            </label>
                            <button type="button" id="filePickerBtn" class="card-form__file-btn"
                                [disabled]="this.userPermission !== this.adminPermission" (click)="filePicker.click()">
                                Загрузить
                            </button>
                            <input type="file" #filePicker class="card-form__input card-form__input-file"
                                (change)="pickImg($event)">
                        </div>
                        <div class="card-form__box-fields card-form__images">
                            <div class="card-form__field card-form__field-img"
                                *ngIf="cardFormService.isEditForm && this.cardFormService.beforeImg">
                                <p class="card-form__img-name">
                                    Current Img
                                </p>
                                <img [src]="this.cardFormService.beforeImg"
                                    [alt]="catalogAddElementForm.value.catalogAddElementTitle"
                                    class="card-form__img-preview">
                            </div>
                            <div class="card-form__field card-form__field-img"
                                *ngIf="cardFormService.imgPreview && catalogAddElementForm.get('catalogAddElementImg').valid">
                                <p class="card-form__img-name">
                                    New Img
                                </p>
                                <img [src]="cardFormService.imgPreview"
                                    [alt]="catalogAddElementForm.value.catalogAddElementTitle"
                                    class="card-form__img-preview">
                                <p class="card-form__img-name">
                                    {{ 'img name: ' + this.catalogAddElementForm.get('catalogAddElementImg').value.name
                                    }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="card-form__field_pos-c">
                    <button type="submit" class="card-form__add-btn"
                        [disabled]="this.userPermission !== this.adminPermission || catalogAddElementForm.invalid">
                        {{ this.cardFormService.isEditForm ? 'Сохранить' : 'Создать'}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>