@import "../../../variables.scss";
@import "../../../mixins.scss";

.contact {
  &__wrapper {
    position: fixed;
    z-index: 104;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-bg {
    position: absolute;
    z-index: 105;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $bg-black-transp;
  }
  &__form {
    position: relative;
    z-index: 106;
    padding: 20px;
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: $bg-white;
    box-shadow: $sh-cart-form;
    box-sizing: border-box;
  }
  &__close-box {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__close-btn {
    font-size: 18px;
    color: $text-dark;

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  &__title {
    margin-bottom: 25px;
    color: $text-black;
    font-size: 26px;
  }
  &__form-box {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;

    &:last-of-type {
      margin-bottom: 0;
    }

    &_center {
      align-items: center;
    }
  }
  &__lbl {
    margin-bottom: 10px;
    color: $text-form-grey;
    font-size: 16px;
  }
  &__input {
    padding: 8px 10px;
    color: $text-form-grey;
    border: 1px solid $bg-input-grey;
    font-size: 16px;

    &:focus {
      border-color: $bg-yel;
    }
    &_valid {
      border-color: $bg-yel;
    }
    &_not-valid {
      border-color: $bg-red;
    }
  }
  &__hint {
    position: absolute;
    bottom: -15px;
    color: $text-form-grey;
    font-size: 10px;

    &_invalid {
      color: $text-red;
    }
  }
  &__send-btn {
    margin-top: 5px;
    @include mainBtn;

    &:disabled {
      background: $bg-grey;

      &:hover {
        box-shadow: none;
      }
    }
  }
}
