<div class="admin">
    <div class="admin__container">
        <form class="admin__form" #adminForm="ngForm" >
            <!-- (submit)="onAdminSignUp(adminForm)" -->
            <h2 class="admin__form-title">
                Admin login
            </h2>
            <div class="admin__field">
                <label for="adminName" class="admin__label">
                    Name
                </label>
                <input type="text" name="adminName" ngModel id="adminName" class="admin__input" required
                    #adminNameInput="ngModel">
            </div>
            <div class="admin__field">
                <label for="adminPassword" class="admin__label">
                    Password
                </label>
                <input type="password" name="adminPassword" ngModel id="adminPassword" class="admin__input" required
                    #adminPasswordInput="ngModel">
            </div>
            <div class="admin__field">
                <button type="submit" class="admin__btn">
                    Log in
                </button>
            </div>
        </form>
    </div>
</div>