<!-- Order Snack Bar: Start -->
<div class="order-snack-bar">
    <div class="order-snack-bar__head">
        <div class="order-snack-bar__img-box">
            <img [src]="data.img" [alt]="data.title" class="order-snack-bar__img">
        </div>
    </div>
    <div class="order-snack-bar__body">
        <div class="order-snack-bar__inf">
            <p class="order-snack-bar__text order-snack-bar__text_green">
                Добавлено успешно!
            </p>
        </div>
        <div class="order-snack-bar__btn">
            <a routerLink="cart" class="order-snack-bar__link">Перейти</a>
        </div>
    </div>
</div>
<!-- Order Snack Bar: End -->