<div class="menu menu_bg-white">
    <div class="menu__container menu__container_bg-white">
        <div class="menu__content">
            <div class="menu__logo">
                <a href="#top" class="menu__logo-link">
                    <img src="../../../assets/imgs/logo/logo-black.png" alt="your-boots_logo" class="menu__logo-img">
                </a>
            </div>
            <div class="menu__nav">
                <nav class="menu__nav-list">
                    <a href="#" class="menu__link">Главная</a>
                    <a href="#catalog" class="menu__link">Каталог</a>
                    <a href="#contact" class="menu__link">Контакты</a>
                    <a href="#about" class="menu__link">О нас</a>
                    <a href="#cart" class="menu__cart">
                        <div class="menu__cart-counter">
                            <span class="menu__cart-number">
                                3
                            </span>
                        </div>
                        <div class="menu__cart-icon">
                            <img src="../../../assets/imgs/menu/cart.png" alt="shopping-cart" class="menu__cart-img">
                        </div>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>