<!-- Menu: Start -->
<div class="menu menu_bg-white">
    <div class="menu__container menu__container_bg-white">
        <div class="menu__content">
            <div class="menu__logo">
                <a href="#" class="menu__logo-link">
                    <img [src]="imgsUrl + 'logo/logo-black.png'" alt="" class="menu__logo-img">
                </a>
            </div>
            <div class="menu__nav">
                <nav class="menu__nav-list">
                    <a href="#" class="menu__link">Главная</a>
                    <a href="#catalog" class="menu__link">Каталог</a>
                    <a href="#contact" class="menu__link">Контакты</a>
                    <a href="#about" class="menu__link">О нас</a>
                    <a routerLink="cart" class="menu__cart">
                        <div class="menu__cart-counter"
                            *ngIf="(catalogService.orders$ | async).ordersElements.length > 0">
                            <span class="menu__cart-number">
                                {{ (catalogService.orders$ | async).ordersElements.length }}
                            </span>
                        </div>
                        <div class="menu__cart-icon">
                            <img [src]="imgsUrl + 'menu/cart.png'" alt="shopping-cart" class="menu__cart-img">
                        </div>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Menu: End -->