@import "../../../variables.scss";

.menu {
  &__container {
    position: fixed;
    z-index: 101;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);

    &_bg-white {
      background: $bg-white;
    }
  }
  &__content {
    padding: 4px 30px;
    height: 60px;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }
  &__logo {
    &-link {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &-img {
      height: 42px;
    }
  }
  &__nav {
    &-list {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
  &__link {
    margin-right: 25px;
    color: $text-dark;
    font-size: 15px;
    font-weight: 300;
    text-transform: lowercase;
  }
  &__cart {
    margin-top: 3px;
    margin-right: 10px;
    padding: 5px 8px;
    display: flex;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all 0.3s;

    &:hover {
      border-color: $bg-black;
    }
    &-counter {
      margin-right: 5px;
      height: 18px;
      width: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background: $gr-main;
    }
    &-number {
      color: $text-white;
      font-size: 12px;
      font-weight: 900;
    }
    &-icon {
    }
    &-img {
    }
  }
}
