<!-- Cart: Start -->
<div class="cart">
    <div class="cart__wrapper">
        <div class="cart__container">
            <div class="cart__half">
                <form action="" class="cart__form">
                    <h3 class="cart__form-title">
                        Оформить заказ
                    </h3>
                    <div class="cart__form-box">
                        <label for="orderName" class="cart__form-lbl">ФИО</label>
                        <input type="text" id="orderName" placeholder="Иванов Иван Иванович" class="cart__form-input">
                        <p class="cart__form-hint">*Здесь нужно ввести имя</p>
                    </div>
                    <div class="cart__form-box">
                        <label for="orderTel" class="cart__form-lbl">Телефон</label>
                        <input type="tel" placeholder="+375 00 000 00 00" id="orderTel" class="cart__form-input">
                        <p class="cart__form-hint">*Тут номер</p>
                    </div>
                    <div class="cart__form-box">
                        <label for="orderAdress" class="cart__form-lbl">Адресс</label>
                        <input type="text" placeholder="Адрес2" id="orderAdress" class="cart__form-input">
                        <p class="cart__form-hint">*Адрес, населенный пункт, индекс</p>
                    </div>
                    <div class="cart__form-box">
                        <div class="cart__deliver">
                            <img src="../../../assets/imgs/common/deliver.png" alt="" class="cart__deliver-img">
                            <p class="cart__deliver-text">
                                Бесплатная доставка по всей Беларуси.
                            </p>
                        </div>
                    </div>
                    <div class="cart__form-box">
                        <div class="cart__send-btn">
                            Отправить?
                        </div>
                    </div>
                </form>
            </div>
            <div class="cart__half">
                <div class="cart__orders" *ngIf="(catalogService.orders$ | async).ordersElements.length > 0">
                    <app-order-card *ngFor="let orderEl of (catalogService.orders$ | async).ordersElements; let i = index"
                        [orderElement]="orderEl" [orderIndex]="i"
                        (onDeleteOrder)="catalogService.deleteOrder($event)">
                    </app-order-card>
                </div>
                <div class="cart__buy-box">
                    <div class="cart__buy-text">
                        <div class="cart__buy-inf">
                            К оплате:
                        </div>
                        <div class="cart__buy-number">
                            120
                        </div>
                        <div class="cart__buy-currency">
                            б.р.
                        </div>
                    </div>
                    <div class="cart__buy-btn">
                        Оформить заказ?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart: End -->