<!-- Cart: Start -->
<div class="cart">
    <div class="cart__wrapper">
        <div class="cart__container">
            <div class="cart__half">
                <!-- there will be some img -->
                <form action="" class="cart__form">
                    <div class="cart__form-box">
                        <h3 class="cart__form-title">
                            Оформить заказ
                        </h3>
                    </div>
                    <div class="cart__form-box">
                        <label for="" class="cart__form-lbl">ФИО</label>
                        <input type="text" class="cart__form-input">
                    </div>
                    <div class="cart__form-box">
                        <label for="" class="cart__form-lbl">Телефон</label>
                        <input type="text" class="cart__form-input">
                    </div>
                    <div class="cart__form-box">
                        <label for="" class="cart__form-lbl">Адресс</label>
                        <input type="text" class="cart__form-input">
                    </div>
                    <div class="cart__form-box">
                        <div class="cart__send-btn">
                            Отправить?
                        </div>
                    </div>
                </form>
            </div>
            <div class="cart__half">
                <div class="cart__orders">
                    <div class="cart__order">
                        <div class="cart__order-head">
                            <img src="../../../assets/imgs/common/sneaker_1.png" alt="" class="cart__order-img">
                        </div>
                        <div class="cart__order-body">
                            <h2 class="cart__order-title">
                                Кроссовки ADIDAS YEEZY 350
                            </h2>
                            <div class="cart__order-body-box">
                                <p class="cart__order-price">
                                    <span class="cart__order-price-number">
                                        60
                                    </span>
                                    <span class="cart__order-price-currency">
                                        б.р.
                                    </span>
                                </p>
                                <div class="cart__order-size">
                                    Размер
                                </div>
                                <div class="cart__order-cout">
                                    Количество
                                </div>
                            </div>
                        </div>
                        <div class="cart__order-delete">
                            <div class="cart__order-delete-btn">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cart__order">
                        <div class="cart__order-head">
                            <img src="../../../assets/imgs/common/sneaker_1.png" alt="" class="cart__order-img">
                        </div>
                        <div class="cart__order-body">
                            <h2 class="cart__order-title">
                                Кроссовки ADIDAS YEEZY 350
                            </h2>
                            <div class="cart__order-body-box">
                                <p class="cart__order-price">
                                    <span class="cart__order-price-number">
                                        60
                                    </span>
                                    <span class="cart__order-price-currency">
                                        б.р.
                                    </span>
                                </p>
                                <div class="cart__order-size">
                                    Размер
                                </div>
                                <div class="cart__order-cout">
                                    Количество
                                </div>
                            </div>
                        </div>
                        <div class="cart__order-delete">
                            <div class="cart__order-delete-btn">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cart__order">
                        <div class="cart__order-head">
                            <img src="../../../assets/imgs/common/sneaker_1.png" alt="" class="cart__order-img">
                        </div>
                        <div class="cart__order-body">
                            <h2 class="cart__order-title">
                                Кроссовки ADIDAS YEEZY 350
                            </h2>
                            <div class="cart__order-body-box">
                                <p class="cart__order-price">
                                    <span class="cart__order-price-number">
                                        60
                                    </span>
                                    <span class="cart__order-price-currency">
                                        б.р.
                                    </span>
                                </p>
                                <div class="cart__order-size">
                                    Размер
                                </div>
                                <div class="cart__order-cout">
                                    Количество
                                </div>
                            </div>
                        </div>
                        <div class="cart__order-delete">
                            <div class="cart__order-delete-btn">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cart__order">
                        <div class="cart__order-head">
                            <img src="../../../assets/imgs/common/sneaker_1.png" alt="" class="cart__order-img">
                        </div>
                        <div class="cart__order-body">
                            <h2 class="cart__order-title">
                                Кроссовки ADIDAS YEEZY 350
                            </h2>
                            <div class="cart__order-body-box">
                                <p class="cart__order-price">
                                    <span class="cart__order-price-number">
                                        60
                                    </span>
                                    <span class="cart__order-price-currency">
                                        б.р.
                                    </span>
                                </p>
                                <div class="cart__order-size">
                                    Размер
                                </div>
                                <div class="cart__order-cout">
                                    Количество
                                </div>
                            </div>
                        </div>
                        <div class="cart__order-delete">
                            <div class="cart__order-delete-btn">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cart__order">
                        <div class="cart__order-head">
                            <img src="../../../assets/imgs/common/sneaker_1.png" alt="" class="cart__order-img">
                        </div>
                        <div class="cart__order-body">
                            <h2 class="cart__order-title">
                                Кроссовки ADIDAS YEEZY 350
                            </h2>
                            <div class="cart__order-body-box">
                                <p class="cart__order-price">
                                    <span class="cart__order-price-number">
                                        60
                                    </span>
                                    <span class="cart__order-price-currency">
                                        б.р.
                                    </span>
                                </p>
                                <div class="cart__order-size">
                                    Размер
                                </div>
                                <div class="cart__order-cout">
                                    Количество
                                </div>
                            </div>
                        </div>
                        <div class="cart__order-delete">
                            <div class="cart__order-delete-btn">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart__buy-box">
                    <div class="cart__buy-text">
                        <div class="cart__buy-inf">
                            К оплате:
                        </div>
                        <div class="cart__buy-number">
                            120
                        </div>
                        <div class="cart__buy-currency">
                            б.р.
                        </div>
                    </div>
                    <div class="cart__buy-btn">
                        Оформить заказ?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart: End -->