<div class="signup">
  <div class="signup__container">
    <form class="signup__form" #newUserForm="ngForm" (submit)="this.authService.onUserSingup(newUserForm)">
      <div class="signup__field">
        <label for="userEmail" class="signup__label">
          Name
        </label>
        <input type="text" name="userEmail" ngModel id="userEmail" class="signup__input" required email
          #userEmailInput="ngModel">
      </div>
      <div class="signup__field">
        <label for="userPassword" class="signup__label">
          Password
        </label>
        <input type="password" name="userPassword" ngModel id="userPassword" class="signup__input" required
          #userPasswordInput="ngModel">
      </div>
      <div class="signup__field">
        <button type="submit" class="signup__btn">
          Sign Up
        </button>
      </div>
    </form>
  </div>
</div>