<!-- Menu: Start -->
<div class="menu">
    <div class="menu__container menu__container_bg-white">
        <div class="menu__content">
            <div class="menu__logo">
                <a href="#" class="menu__logo-link">
                    <img [src]="imgsUrl + 'logo/logo-black.jpg'" alt="" class="menu__logo-img">
                </a>
            </div>
            <div class="menu__nav-btn" (click)="mainAppService.showMenu()">
                <i class="fas fa-bars"></i>
                <div class="menu__cart-counter menu__cart-counter_mobile"
                    *ngIf="(catalogService.orders$ | async).ordersElements.length > 0">
                </div>
            </div>
            <div class="menu__nav">
                <nav class="menu__nav-list">
                    <a href="#" class="menu__link">Главная</a>
                    <a href="#catalog" class="menu__link">Каталог</a>
                    <a href="#contact" class="menu__link">Контакты</a>
                    <a href="#about" class="menu__link">О нас</a>
                    <a routerLink="cart" class="menu__cart">
                        <div class="menu__cart-counter"
                            *ngIf="(catalogService.orders$ | async).ordersElements.length > 0">
                            <span class="menu__cart-number">
                                {{ (catalogService.orders$ | async).ordersElements.length }}
                            </span>
                        </div>
                        <div class="menu__cart-icon">
                            <img [src]="imgsUrl + 'menu/cart.png'" alt="shopping-cart" class="menu__cart-img">
                        </div>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Menu: End -->

<!-- Mobile Menu: Start -->
<div class="mb-menu" *ngIf="(mainAppService.menu$ | async).isMMenuActive">
    <div class="mb-menu__container menu__container_bg-white" [ngClass]="{
        'mb-menu__container_active': (mainAppService.menu$ | async).isAnimation,
        'mb-menu__container_not-active': !(mainAppService.menu$ | async).isAnimation
    }">
        <div class="mb-menu__content">
            <div class="mb-menu__nav-btn" (click)="mainAppService.hideMenu()">
                <i class="fas fa-times"></i>
            </div>
            <div class="mb-menu__logo">
                <a href="#" class="mb-menu__logo-link">
                    <img [src]="imgsUrl + 'logo/logo-black.jpg'" alt="" class="mb-menu__logo-img">
                </a>
            </div>
            <div class="mb-menu__nav">
                <nav class="mb-menu__nav-list">
                    <a href="#" class="mb-menu__link" (click)="mainAppService.hideMenu()">Главная</a>
                    <a href="#catalog" class="mb-menu__link" (click)="mainAppService.hideMenu()">Каталог</a>
                    <a href="#contact" class="mb-menu__link" (click)="mainAppService.hideMenu()">Контакты</a>
                    <a href="#about" class="mb-menu__link" (click)="mainAppService.hideMenu()">О нас</a>
                    <a routerLink="cart" class="menu__cart mb-menu__cart" (click)="mainAppService.hideMenu()">
                        <div class="menu__cart-counter"
                            *ngIf="(catalogService.orders$ | async).ordersElements.length > 0">
                            <span class="menu__cart-number">
                                {{ (catalogService.orders$ | async).ordersElements.length }}
                            </span>
                        </div>
                        <div class="menu__cart-icon">
                            <img [src]="imgsUrl + 'menu/cart.png'" alt="shopping-cart" class="menu__cart-img">
                        </div>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu: End -->